<div class="wrapper" mat-dialog-content>
  <h3>
    {{
      constructor_data.edit
        ? "Редактирование переменной"
        : "Создание переменной"
    }}
  </h3>
  <mat-form-field>
    <mat-label>Фамилия</mat-label>
    <input matInput type="text" [(ngModel)]="data.f" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput type="text" [(ngModel)]="data.i" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Отчество</mat-label>
    <input matInput type="text" [(ngModel)]="data.o" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>login</mat-label>
    <input matInput type="text" [(ngModel)]="data.login" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Права</mat-label>
    <mat-select [value]="data.rights">
      @for (item of constructor_data.rights; track $index) {
        <mat-option [value]="item.id">{{item.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button class="button3 m" [disabled]="disableClose" (click)="createEdit()">
      Создать
    </button>
    <button class="button2 nom" mat-dialog-close>Отмена</button>
  </div>
</div>
