<div class="wrapper">
  <div class="top_line">
    <div class="flex">
      <button class="button3 m" (click)="createEdit()">Добавить</button>
      <button class="button3 m" [disabled]="data.row_id === -1">Редактировать</button>
      <button class="button2 m" [disabled]="data.row_id === -1">Удалить</button>
    </div>
    <div class="flex">
      <button class="button3 m" [disabled]="data.row_id === -1">Сменить пароль</button>
      <button class="button2" (click)="userdata.logout()">Выйти</button>
    </div>
  </div>
  <div class="fill">
    <app-simple-table [data]="data"></app-simple-table>
  </div>
</div>
