$border: rgb(170, 170, 170);
.template {
  min-width: 50px;
  //   height: 66px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid $border;
  display: flex;
  .block {
    margin: 0px;
    // border: none;
    // background-color: transparent;
    // padding: 0px;
    // font-size: 30px;
  }
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 50px;
  min-width: 50px;
  border: 2px solid $border;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: grab;
}
.trash {
  $red: rgb(255, 113, 113);
  border-color: $red;
  color: $red;
}
.left {
  display: flex;
  flex-direction: column;
}
.list {
  // border: 2px solid $border;
  // border-radius: 5px;
  // padding: 5px;
  // margin: 5px;
  &.all {
    max-height: 100%;
  }
  // padding-right: 10px;
  .grid {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 180px;
    width: 200px;
    // .block {
      // margin: 0;
    // }
  }
  // .label {
  //   font-size: 14px;
  //   line-height: 10px;
  // }
}
.vert {
  flex-direction: column;
}
.calc {
  display: flex;
}
// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
// .block,
// // .cdk-drop-list-dragging, 
// .block:not(.cdk-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
// * {
//     transition: 0.2s ;
// }
